body{
    margin:0;
    font-family:Arial,sans-serif;
    background:#f4f4f4;
}

header{
    background:#4f46e5;
    color:white;
    text-align:center;
    padding:20px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}

.container{
    width:90%;
    max-width:1000px;
    margin:auto;
    padding:20px;
}

#eventList{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.card{
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.2);
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.past{
    background:#d3d3d3;
}

button{
    background:#4f46e5;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#312e81;
}

input,
textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
}

#warning{
    color:red;
}